body {
    background-color: aliceblue;
}

header, footer {
    color: rgb(255, 255, 224);
    background-color: mediumslateblue;
}

main {
    margin-top: 70px;
    margin-bottom: 40px;
}

a {
    color: rgb(255, 255, 224) !important;
}

a:hover {
    color: rgb(255, 255, 224);
    background-color: slateblue;
}

#nav-expand-button {
    background-color: aliceblue;
}

footer div {
    text-align: center;
}

#nav-panel-text {
    color: rgb(255, 255, 224) !important;
}

a.disabled {
    background-color: darkslateblue;
}
