body {
    background-color: aliceblue;
}

header, footer {
    color: rgb(255, 255, 224);
    background-color: mediumslateblue;
}

main {
    margin-top: 20%;
    margin-bottom: 5%;
}

@media (min-width: 540px) and (max-width: 719px) {
    main {
        margin-top: 10%;
    }
}

@media (min-width: 720px) and (max-width: 959px) {
    main {
        margin-top: 8%;
    }
}

@media (min-width: 960px) and (max-width: 1139px) {
    main {
        margin-top: 6%;
    }
}

@media (min-width: 1140px) {
    main {
        margin-top: 5%;
    }
}

a {
    color: rgb(255, 255, 224) !important;
}

a:hover {
    color: rgb(255, 255, 224);
    background-color: slateblue;
}

#nav-expand-button {
    background-color: aliceblue;
}

footer div {
    text-align: center;
}

#nav-panel-text {
    color: rgb(255, 255, 224) !important;
}
